doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Change Details | ParkFlow
    link(rel="icon" href="/logo.png")
    link(rel="stylesheet" href="/styles.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")

  body
    // Navbar
    nav.navbar
      .logo ParkFlow
      .menu-icon#menu-icon &#9776;
      ul.nav-links
        li: a(href="/dashboard") Dashboard
        li: a(href="/logout") Logout

    // Main content
    .content
      .form-container
        h1 Change Your Details

        // Success Message
        if successMessage
          .alert.alert-success
            | #{successMessage}

        // Error Message
        if error
          .alert.alert-danger
            | #{error}

        .details-box
          // User ID
          .detail-row
            label User ID:
            if user && user.id
              span #{user.id}
            else
              span No ID available

          // Email
          .detail-row
            label Email:
            if user && user.email
              span #{user.email}
            else
              span No email available
            a.btn-change(data-field="email") Change
            form.edit-field#email-field(method="POST", action="/details/change-details", style="display: none;")
              input(type="email", name="email", id="new-email", value=(user && user.email) ? user.email : '')
              button(type="submit") Save

          // First Name
          .detail-row
            label First Name:
            if user && user.first_name
              span #{user.first_name}
            else
              span No first name available
            a.btn-change(data-field="first-name") Change
            form.edit-field#first-name-field(method="POST", action="/details/change-details", style="display: none;")
              input(type="text", name="first_name", id="new-first-name", value=(user && user.first_name) ? user.first_name : '')
              button(type="submit") Save

          // Last Name
          .detail-row
            label Last Name:
            if user && user.last_name
              span #{user.last_name}
            else
              span No last name available
            a.btn-change(data-field="last-name") Change
            form.edit-field#last-name-field(method="POST", action="/details/change-details", style="display: none;")
              input(type="text", name="last_name", id="new-last-name", value=(user && user.last_name) ? user.last_name : '')
              button(type="submit") Save

          // Password
          .detail-row
            label Password:
            span ••••••••
            a.btn-change(data-field="password") Change
            form.edit-field#password-field(method="POST", action="/details/change-details", style="display: none;")
              input(type="password", name="current_password", id="current-password", placeholder="Enter current password")
              input(type="password", name="new_password", id="new-password", placeholder="Enter new password")
              button(type="submit") Save

    // Footer
    footer
      p &copy; 2025 ParkFlow. All Rights Reserved.

    script(src="/js/changeDetails.js")
