doctype html
html(lang="en")
  head
    title Payment | ParkFlow
    link(rel="stylesheet" href="/styles.css")
    link(rel="stylesheet" href="/bootstrap.css")
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-nav 
      .container.px-5 
        a.navbar-brand(href="/") ParkFlow
        ul.navbar-nav.ms-auto
          li.nav-item: a.nav-link(href="/dashboard") Dashboard
          li.nav-item: a.nav-link(href="/logout") Logout

    .container.mt-5
      h2.text-center Booking Payment
      if booking
        p Location: #{booking.location}
        p Date: #{formattedDate}
        p Price: £#{price.toFixed(2)}
        p Balance: £#{balance.toFixed(2)}

        if canPay
          form(method="POST" action=`/payment/${booking.booking_id}`)
            button.btn.btn-success(type="submit") Confirm Payment
        else
          p.text-danger Not enough money, you broke

    footer.text-center.mt-5
      p &copy; 2025 ParkFlow. All Rights Reserved.

    